beautifulsoup4==4.9.3
certifi==2020.12.5
google==3.0.0
idna==2.10
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
pyTelegramBotAPI==3.7.6
python-dateutil==1.5
requests==2.25.1
requests-toolbelt==0.9.1
soupsieve==2.2
urllib3==1.2